@model IEnumerable<CourseWork.Areas.WhorePanel.Models.OrderViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MeetingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmed)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @if (!item.Confirmed)
            {
                @Html.ActionLink("Confirm", "Confirm", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-success" })
            }
            else
            {
                @Html.ActionLink("Confirm", "Confirm", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-success", @disabled="true"})
            }

        </td>
    </tr>
}

</table>
